<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <base href="/admin">
    <title>后台管理</title>
    <link rel="stylesheet" href="/static/admin/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/admin/css/dashboard.css">
    <link rel="stylesheet" href="/static/admin/css/alert.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">我的博客后台管理</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a>Rory</a></li>
                <li><a href="/admin/logout">注销</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" >
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav">
                <li><a href="/admin/article">文章管理</a></li>
                <li><a href="/admin/category">分类管理</a></li>
                <li><a href="/admin/blogowner">个人信息管理</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-app="myblog-main">
            <div ng-view></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/admin/vendor/angular/angular.js"></script>
<script type="text/javascript" src="/static/admin/vendor/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/static/admin/vendor/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="/static/admin/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="/static/admin/vendor/ng-file-upload/ng-file-upload.js"></script>
<script type="text/javascript" src="/static/admin/vendor/thinker-md/dist/javascripts/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="/static/admin/vendor/thinker-md/dist/javascripts/thinker-md.vendor.js"></script>
<script type="text/javascript" src="/static/admin/js/markdownconfig.js"></script>
<script type="text/javascript" src="/static/admin/js/app.js"></script>
<script type="text/javascript" src="/static/admin/js/service/myblogservice.js"></script>
<script type="text/javascript" src="/static/admin/js/service/alertservice.js"></script>
<script type="text/javascript" src="/static/admin/js/controller/blogownercontrol.js"></script>
<script type="text/javascript" src="/static/admin/js/controller/categorycontrol.js"></script>
<script type="text/javascript" src="/static/admin/js/controller/updatearticlecontrol.js"></script>
<script type="text/javascript" src="/static/admin/js/controller/articlecontrol.js"></script>
</body>
</html>