<div class="panel">
    <div class="panel-heading"><h1 class="page-header">文章管理</h1></div>
    <div>
        <ul class="list-inline pull-right">
            <li><a class="btn btn-success" href="/admin/article/add">新增</a></li>
        </ul>
    </div>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>ID</th>
            <th>文章标题</th>
            <th>发布时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="article in articles">
            <td ng-bind="article.id"></td>
            <td ng-bind="article.title"></td>
            <td ng-bind="article.post_date"></td>
            <td>
                <ul class="list-inline">
                    <li><a href="javascript:void(0);" ng-click="openDelDialog($index)">删除</a></li>
                    <li><a ng-href="/admin/article/update?id={{article.id}}">编辑</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
