<div class="panel">
    <div class="panel-heading"><h1 class="page-header">文章管理</h1></div>
    <div>
        <ul class="list-inline pull-right">
            <li><a class="btn btn-success" href="/admin/article/add">新增</a></li>
        </ul>
    </div>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>ID</th>
            <th>文章标题</th>
            <th>发布时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>哈哈</td>
            <td>2015-09-12</td>
            <td>
                <ul class="list-inline">
                    <li><a href="">删除</a></li>
                    <li><a href="">编辑</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>哈哈</td>
            <td>2015-09-12</td>
            <td>
                <ul class="list-inline">
                    <li><a href="">删除</a></li>
                    <li><a href="">编辑</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>哈哈</td>
            <td>2015-09-12</td>
            <td>
                <ul class="list-inline">
                    <li><a href="">删除</a></li>
                    <li><a href="">编辑</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>哈哈</td>
            <td>2015-09-12</td>
            <td>
                <ul class="list-inline">
                    <li><a href="">删除</a></li>
                    <li><a href="">编辑</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>哈哈</td>
            <td>2015-09-12</td>
            <td>
                <ul class="list-inline">
                    <li><a href="#" data-toggle="modal" data-target=".bs-article-modal-sm">删除</a></li>
                    <li><a href="">编辑</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-include="'/view/article/article_del_dialog.html'"></div>
