<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>{{{.article.Title}}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/twitter-bootstrap/3.3.6/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/markdown.js"></script>
    <script type="text/javascript" src="/static/js/article.js"></script>
</head>
<body>
<nav id="navbar" class="navbar">
    <div class="container">
        <div class="header row">
            <div class="col-xs-8 col-sm-8 col-md-8">
                <h1>Blog Template</h1>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 ">
                <div class="list-group">
                    <a href="/" class="list-group-item">主页</a>
                    <a href="#" class="list-group-item">简历</a>
                    <a href="https://github.com/roryblucky" target="_blank" class="list-group-item">Github</a>
                    <a href="#" class="list-group-item">联系我</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div id="primary" class="col-xs-8 col-sm-8 col-md-8 ">
            <main id="main" role="main">
                <div class="title">
                    <h2>{{{.article.Title}}}</h2>
                </div>
                <p class="postDate">发布于{{{blogDateFormat .article.PostDate}}}</p>
                <article id="article-{{{.article.Id}}}">
                    <script>convertArticle2HTML({{{.article.Id}}}, {{{.article.Content}}})</script>
                </article>
            </main>
        </div>
        <div id="secondary" class="col-xs-4 col-sm-4 col-md-4 ">
            <div class="panel">
                <div class="panel-heading">
                    <h4>关于我</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        {{{with .blogOwner}}}
                        <img src="/{{{.ImageIconPath}}}" class="col-sm-4 col-md-4 hidden-xs"/>

                        <p class="col-xs-12 col-sm-8 col-md-8">
                        {{{.Introduction}}}
                        {{{end}}}
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4>分类</h4>
                </div>
                <div class="panel-body">
                    <ul class="category">
                        {{{range .categories}}}
                            {{{with .}}}
                                <li><a href="/category/{{{.Id}}}/articles">{{{.Name}}}</a></li>
                            {{{end}}}
                        {{{end}}}
                    </ul>
                </div>
            </div>
        </div>
        <div id="comment" class="col-xs-8 col-sm-8 col-md-8">
            <div id="disqus_thread"></div>
        </div>
    </div>

</div>
<footer>
    <div class="container footer">
        <!--keep it-->
    </div>
</footer>
<script>
    /**
     * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    var disqus_config = function () {
        this.page.url = document.URL; // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "article-{{{.article.Id}}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//rorybluckyblog.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</body>
</html>
