<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/framework/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
</head>
<body>
<nav id="navbar" class="navbar">
    <div class="container">
        <div class="header row">
            <div class="col-xs-8 col-sm-8 col-md-8">
                <h1>Blog Template</h1>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 ">
                <div class="list-group">
                    <a href="#" class="list-group-item">主页</a>
                    <a href="#" class="list-group-item">简历</a>
                    <a href="https://github.com/roryblucky" class="list-group-item">Github</a>
                    <a href="#" class="list-group-item">联系我</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div id="primary" class="col-xs-8 col-sm-8 col-md-8 ">
            <main id="main" role="main">
                <ul class="media-list">
                    <li class="media-body">
                        <div class="title">
                            <a href="#" class="media-heading">
                                <h2>WHY VAGRANT?</h2>
                            </a>
                        </div>

                        <p class="postDate">发布于2015年12月8日, 28条评论</p>
                        <article class="article">
                            Vagrant provides easy to configure, reproducible, and portable work environments built on
                            top of industry-standard technology and controlled by a single consistent workflow to help
                            maximize the productivity and flexibility of you and your team.

                            To achieve its magic, Vagrant stands on the shoulders of giants. Machines are provisioned on
                            top of VirtualBox, VMware, AWS, or any other provider. Then, industry-standard provisioning
                            tools such as shell scripts, Chef, or Puppet, can be used to automatically install and
                            configure software on the machine.
                        </article>
                        <a href="#" class="pull-right reading">Continue reading >></a>
                    </li>
                </ul>
                <ul class="media-list">
                    <li class="media-body">
                        <div class="title">
                            <a href="#" class="media-heading">
                                <h2>WHY VAGRANT?</h2>
                            </a>
                        </div>
                        <p class="postDate">发布于2015年12月8日, 28条评论</p>
                        <article class="article">
                            Vagrant provides easy to configure, reproducible, and portable work environments built on
                            top of industry-standard technology and controlled by a single consistent workflow to help
                            maximize the productivity and flexibility of you and your team.

                            To achieve its magic, Vagrant stands on the shoulders of giants. Machines are provisioned on
                            top of VirtualBox, VMware, AWS, or any other provider. Then, industry-standard provisioning
                            tools such as shell scripts, Chef, or Puppet, can be used to automatically install and
                            configure software on the machine.
                        </article>
                        <a href="#" class="pull-right reading">Continue reading >></a>
                    </li>
                </ul>
                <ul class="media-list">
                    <li class="media-body">
                        <div class="title">
                            <a href="#" class="media-heading">
                                <h2>WHY VAGRANT?</h2>
                            </a>
                        </div>

                        <p class="postDate">发布于2015年12月8日, 28条评论</p>
                        <article class="article">
                            Vagrant provides easy to configure, reproducible, and portable work environments built on
                            top of industry-standard technology and controlled by a single consistent workflow to help
                            maximize the productivity and flexibility of you and your team.

                            To achieve its magic, Vagrant stands on the shoulders of giants. Machines are provisioned on
                            top of VirtualBox, VMware, AWS, or any other provider. Then, industry-standard provisioning
                            tools such as shell scripts, Chef, or Puppet, can be used to automatically install and
                            configure software on the machine.
                        </article>
                        <a href="#" class="pull-right reading">Continue reading >></a>
                    </li>
                </ul>
                <ul class="media-list">
                    <li class="media-body">
                        <div class="title">
                            <a href="#" class="media-heading">
                                <h2>WHY VAGRANT?</h2>
                            </a>
                        </div>
                        <article class="article">
                            Vagrant provides easy to configure, reproducible, and portable work environments built on
                            top of industry-standard technology and controlled by a single consistent workflow to help
                            maximize the productivity and flexibility of you and your team.

                            To achieve its magic, Vagrant stands on the shoulders of giants. Machines are provisioned on
                            top of VirtualBox, VMware, AWS, or any other provider. Then, industry-standard provisioning
                            tools such as shell scripts, Chef, or Puppet, can be used to automatically install and
                            configure software on the machine.
                        </article>
                        <a href="#" class="pull-right reading">Continue reading >></a>
                    </li>
                </ul>
            </main>
        </div>
        <div id="secondary" class="col-xs-4 col-sm-4 col-md-4 ">
            <div class="panel">
                <div class="panel-heading">
                    <h4>关于我</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <img src="../static/img/header.png" class="col-xs-4 col-sm-4 col-md-4 img-thumbnail"/>

                        <p class="col-xs-8 col-sm-8 col-md-8">
                            这是自我介绍这是自我介绍这是自我介绍这是自我介绍这是自我介绍这是自我介绍这是自我介绍这是自我介绍这是自我介绍
                            这是自我介绍这是自我介绍这是自我介绍这是自我介绍这是自我介绍这是自我介绍这是自我介绍这是自我介绍这是自我介绍
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4>分类</h4>
                </div>
                <div class="panel-body">
                    <ul class="category">
                        <li><a href="#">General</a></li>
                        <li><a href="#">General</a></li>
                        <li><a href="#">General</a></li>
                        <li><a href="#">General</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>