{{define "self-intro"}}
<div class="panel">
    <div class="panel-heading">
        <h4>关于我</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <img src="../static/img/header.png" class="col-sm-4 col-md-4 hidden-xs"/>

            <p class="col-xs-12 col-sm-8 col-md-8">
                这是自我介绍这是自我介绍这是自我介绍这是自我介绍这是自我介绍这是自我介绍这是自我介绍这是自我介绍这是自我介绍
                这是自我介绍这是自我介绍这是自我介绍这是自我介绍这是自我介绍这是自我介绍这是自我介绍这是自我介绍这是自我介绍
            </p>
        </div>
    </div>
</div>
{{end}}