<div class="panel">
    <div class="panel-heading"><h1 class="page-header">分类管理</h1></div>
    <uib-alert type="danger" ng-show="isShow" close="closeAlert()" class="cssFade alert">删除失败</uib-alert>
    <div>
        <ul class="list-inline pull-right">
            <li><button class="btn btn-success" data-toggle="modal" data-target=".bs-category-add-modal" ng-click="openUpdateDialog()">新增</button></li>
        </ul>
    </div>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>ID</th>
            <th>分类名称</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="category in categories">
            <td ng-bind="category.id"></td>
            <td ng-bind="category.name"></td>
            <td>
                <ul class="list-inline">
                    <li><a href="javascript:void(0);" ng-click="openDelDialog($index)">删除</a></li>
                    <li><a href="javascript:void(0);" ng-click="openUpdateDialog($index)">编辑</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>

