<div class="modal fade bs-category-update-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">更新</h4>
            </div>
            <div class="modal-body">
                <input type="text" placeholder="分类名称" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger">确定</button>
            </div>
        </div>
    </div>
</div>