<div class="panel">
    <div class="panel-heading"><h1 class="page-header">分类管理</h1></div>
    <div>
        <ul class="list-inline pull-right">
            <li><button class="btn btn-success" data-toggle="modal" data-target=".bs-category-add-modal">新增</button></li>
        </ul>
    </div>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>ID</th>
            <th>分类名称</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>哈哈</td>
            <td>
                <ul class="list-inline">
                    <li><a href="javascript:void(0)" data-toggle="modal" data-target=".bs-category-del-modal-sm">删除</a></li>
                    <li><a href="javascript:void(0)" data-toggle="modal" data-target=".bs-category-update-modal">编辑</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>哈哈</td>
            <td>
                <ul class="list-inline">
                    <li><a href="javascript:void(0)" data-toggle="modal" data-target=".bs-category-del-modal-sm">删除</a></li>
                    <li><a href="javascript:void(0)" data-toggle="modal" data-target=".bs-category-update-modal">编辑</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>哈哈</td>
            <td>
                <ul class="list-inline">
                    <li><a href="javascript:void(0)" data-toggle="modal" data-target=".bs-category-del-modal-sm">删除</a></li>
                    <li><a href="javascript:void(0)" data-toggle="modal" data-target=".bs-category-update-modal">编辑</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>哈哈</td>
            <td>
                <ul class="list-inline">
                    <li><a href="javascript:void(0)" data-toggle="modal" data-target=".bs-category-del-modal-sm">删除</a></li>
                    <li><a href="javascript:void(0)" data-toggle="modal" data-target=".bs-category-update-modal">编辑</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>哈哈</td>
            <td>
                <ul class="list-inline">
                    <li><a href="javascript:void(0)" data-toggle="modal" data-target=".bs-category-del-modal-sm">删除</a></li>
                    <li><a href="javascript:void(0)" data-toggle="modal" data-target=".bs-category-update-modal">编辑</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-include="'/view/category/category_update_dialog.html'"></div>
<div ng-include="'/view/category/category_del_dialog.html'"></div>
<div ng-include="'/view/category/category_add_dialog.html'"></div>