<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="renderer" content="webkit">
    <title>后台登录</title>
    <link rel="stylesheet" href="/static/admin/css/form.css">
    <script type="text/javascript" src="/static/vendor/angular/angular.min.js"></script>
</head>
<body ng-app="myblog.loginform">
<form name="loginForm" class="login" ng-controller="LoginController" ng-submit="login()">
    <h1 class="login-header">后台登录</h1>
    <p>
        <input type="text" name="username" ng-model="loginform.username" id="login" placeholder="用户名" required>
    </p>
    <p>
        <input type="password" name="password" id="password" ng-model="loginform.password" placeholder="密码" required>
    </p>
    <p class="login-submit">
        <button type="submit" class="login-button" ng-disabled="loginForm.$invalid">登录</button>
    </p>
    <p class="login-msg" ng-bind="loginform.result" ng-class="{'error-msg':loginform.isErr}"></p>
</form>

</body>
<script type="text/javascript" src="/static/admin/js/controller/logincontrol.js"></script>
</html>